@import "variables.css";
.auth-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.auth-logo {
  width: 80px;
  height: auto;
  margin-bottom: 0.5rem;
}

.auth-title {
  font-family: var(--heading-font);
  color: var(--dark-purple);
  font-size: 2rem;
  text-align: center;
}
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--off-white-background);
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.auth-form {
  background-color: var(--white-background);
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 10px 20px var(--box-shadow-color);
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: var(--heading-font);
  color: var(--dark-purple);
}

.auth-form input {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.auth-form p {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.auth-form a {
  color: var(--dark-purple);
  text-decoration: none;
  font-weight: 600;
}

.auth-form a:hover {
  text-decoration: underline;
}

.password-input-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
}

.password-input-wrapper input {
  width: 100%;
  padding: 0.75rem 1rem;
  padding-right: 2.5rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-63%);
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}